<nz-collapse>
  <nz-collapse-panel
    *ngFor="let panel of panels"
    [nzHeader]="panel.name"
    [nzActive]="panel.active"
    [nzDisabled]="panel.disabled"
  >
    <form nz-form [formGroup]="validateForm">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10">File danh sách</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input placeholder="Enter name" formControlName="listFile" id="listFile" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10">Loại cắt hủy</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select id="cancelType" formControlName="cancelType" nzPlaceHolder="Enter name">
                <nz-option nzValue="1" nzLabel="Michigan"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10">File ISDN</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input placeholder="Enter name" formControlName="isdnFile" id="isdnFile" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10">Thời gian cắt</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input placeholder="Choose period" formControlName="cancelTime" id="cancelTime" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10">File danh sách hoàn tất</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input placeholder="Enter name" formControlName="successFile" id="successFile" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10">Cửa hàng</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input placeholder="Enter name" formControlName="shop" id="shop" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="cancelFalse" id="cancelFalse">Cắt hủy lô sai</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="cancelKK" id="cancelKK">Loại bỏ số KK</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="cancelUAC" id="cancelUAC">Cắt khỏi UAC</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-control>
              <nz-upload
                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                nzAccept=".txt"
                [nzHeaders]="{ authorization: 'authorization-text' }"
                (nzChange)="handleChange($event)"
              >
                <button nz-button id="iconDownload">
                  <i nz-icon nzType="upload"></i>
                  Tải dữ liệu
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-collapse-panel>
</nz-collapse>
<div class="titleTable">
  <p><b>Danh sách thuê bao tạm cắt quá hạn</b></p>
  <button nz-button nzType="primary">Xuất báo cáo</button>
</div>
<nz-table
  #rowSelectionTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="listOfDisplayData"
  [nzScroll]="{ x: '1800' }"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        [nzChecked]="checked"
        nzWidth="50px"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th [nzAlign]="'center'">
        Acct_ID
        <input nz-input placeholder="Search" />
      </th>
      <th [nzAlign]="'center'">
        Status
        <input nz-input placeholder="Search" (input)="searchStatus($event)" />
      </th>
      <th [nzAlign]="'center'">
        Số thuê bao
        <input nz-input placeholder="Search" />
      </th>
      <th [nzAlign]="'center'">Tên thuê bao<input nz-input placeholder="Search" /></th>
      <th [nzAlign]="'center'">HTTT hiện tại<input nz-input placeholder="Search" /></th>
      <th [nzAlign]="'center'">Số TK<input nz-input placeholder="Search" /></th>
      <th [nzAlign]="'center'">Tên TK<input nz-input placeholder="Search" /></th>
      <th [nzAlign]="'center'">Mã NH<input nz-input placeholder="Search" /></th>
      <th [nzAlign]="'center'">Chi tiết lỗi<input nz-input placeholder="Search" /></th>
      <th [nzAlign]="'center'">Lý do<input nz-input placeholder="Search" /></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzDisabled]="data.disabled"
        [nzShowCheckbox]="!data.disabled"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td [nzAlign]="'center'">{{ data.id }}</td>
      <td [nzAlign]="'center'">{{ data.status }}</td>
      <td [nzAlign]="'center'">{{ data.phoneNumber }}</td>
      <td [nzAlign]="'center'">{{ data.name }}</td>
      <td [nzAlign]="'center'">{{ data.typeNow }}</td>
      <td [nzAlign]="'center'">{{ data.accountNumber }}</td>
      <td [nzAlign]="'center'">{{ data.accountName }}</td>
      <td [nzAlign]="'center'">{{ data.bank }}</td>
      <td [nzAlign]="'center'">{{ data.errorDetail }}</td>
      <td [nzAlign]="'center'">{{ data.description }}</td>
    </tr>
  </tbody>
</nz-table>
