<div class="container-fluid" nz-row>
  <div nz-col [nzSpan]="12" class="boderRight">
    <h2>Hi Marie</h2>
    <p>Good morning !</p>
    <h6>Chào mừng bạn đến với Mobimeeting, hãy bắt đầu với những kế hoạch sắp tới của bạn.</h6>
    <div nz-row class="homeAction flex-end">
      <div nz-col [nzSpan]="6" class="square actionJoin">
        <i nz-icon nzType="video-camera" nzTheme="outline"></i> Tham gia
      </div>
      <div nz-col [nzSpan]="6" class="square actionCreate"><i nz-icon nzType="plus" nzTheme="outline"></i> Tạo mới</div>
    </div>
    <div nz-row class="homeAction flex-start">
      <div nz-col [nzSpan]="6" class="square actionMetting">
        <i nz-icon nzType="schedule" nzTheme="outline"></i> Schedule Meeting
      </div>
      <div nz-col [nzSpan]="6" class="square actionShare">
        <i nz-icon nzType="cluster" nzTheme="outline"></i>Chia sẻ màn hình
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="12">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <h1>09 : 32</h1>
        <p class="colorGray">Thứ ba, ngày 03, tháng 02, 2022</p>
        <br />
        <br />
        <div class="notiContent">
          <button nz-button nzType="default" nzDanger nzShape="circle" class="lineCenter">
            <i nz-icon nzType="bell" nzTheme="outline" class="itemBagde"></i>
          </button>
          <div class="ml10">
            <p class="mg0 fs15 colorBlack">Bạn có một cuộc họp lúc 10:30</p>
            <a class="colorBlue">Xem chi tiết</a>
          </div>
        </div>
        <div class="notiContent">
          <button nz-button nzType="default" nzShape="circle" class="lineCenter">
            <i nz-icon nzType="bell" nzTheme="outline" class="itemBagde"></i>
          </button>
          <div class="ml10">
            <p class="mg0 fs15 colorBlack">Lời mời tham dự cuộc họp <b>"Họp thiết kế Mobile meeting"</b></p>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="12" class="flex-end">
        <nz-date-picker
          nzInline
          [(ngModel)]="date"
          [nzBackdrop]="true"
          (ngModelChange)="onChange($event)"
          class="selector noshadow right0"
        ></nz-date-picker>
      </div>
    </div>
    <br />
    <div nz-row>
      <div nz-col [nzSpan]="24"><h4>Cuộc họp gần đây</h4></div>
      <div nz-col [nzSpan]="16" class="menuSearch">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Tìm kiếm" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <div nz-col [nzSpan]="8" class="menuSearch">
        <nz-select ngModel="week">
          <nz-option nzValue="date" nzLabel="Ngày hôm nay"></nz-option>
          <nz-option nzValue="week" nzLabel="Tuần này"></nz-option>
          <nz-option nzValue="yeah" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="24">
        <ul nz-list [nzDataSource]="data" nzSize="large" class="width100">
          <li nz-list-item *ngFor="let item of data">
            <nz-list-item-meta nzDescription="Họp chốt giao diện">
              <nz-list-item-meta-title>
                <a href="https://ng.ant.design">#FAFAFA</a>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <div class="notiContent">
                  <i nz-icon nzType="calendar" nzTheme="outline"></i>
                  <span class="ml5">06/12/2000</span>
                </div>
              </nz-list-item-action>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
